[Desktop Entry]
Version=1.0
Name=IntelliJ IDEA Ultimate
Exec=/opt/idea-IU-182.4323.46/bin/idea.sh
Comment=IntelliJ IDEA: The Java IDE for Professional Developers by JetBrains
Icon=/opt/idea-IU-182.4323.46/bin/idea.png
Type=Application
Terminal=false
Encoding=UTF-8
Categories=Java;Development;IDE
GenericName=IDE
